@page
@model AspNetBase.Presentation.App.Pages.ManageRoles.IndexModel

@{
    ViewData["Title"] = "Roles";
}

<h2>Roles</h2>

<div class="alert alert-info">
  <strong>Roles can not be edited during application runtime.</strong>
  They are thightly bound to application logic and enum types.
</div>

@(Html.Grid(Model.Roles).Build(c =>
  {
    c.Add(m => m.Id).Titled("Id");
    c.Add(m => m.Name).Titled("Role Name");
    c.Add(m => m.UsersForDisplay).Titled("Users");
    c.Add(m => m.UserCount).Titled("Total users");
  }).Filterable().Sortable()
)

