@page
@model AspNetBase.Presentation.App.Pages.ManageUsers.CreateModel
@inject AspNetBase.Core.Settings.EmailSenderSettings emailSettings

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>
<h4>New user account</h4>
<hr />

@if(emailSettings.Enabled) {
  <div class="alert alert-danger"><strong>Warning!</strong> An email will be sent to the email address.</div>
}

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success">Create (Register)</button>
        </form>
    </div>
</div>

<br />
<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
