@page
@model AspNetBase.Presentation.App.Pages.ManageUsers.GridModel

@{
    ViewData["Title"] = "Index";
}

<h2>Grid</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>

@(Html.Grid(Model.Users).Build(c =>
  {
    c.Add(m => m.Id).Titled("Id");
    c.Add(m => m.UserName).Titled("Username");
    c.Add(m => m.Email).Titled("Email");
    c.Add(m => m.TwoFactorEnabled).Titled("2FA enabled");
    c.Add(m => "<input type='button' value='btn' />").Encoded(false);
  }).Filterable().Sortable()
)

