@page
@model AspNetBase.Presentation.App.Pages.ManageUsers.IndexModel

@{
    ViewData["Title"] = "Users";

    Func<int, string> editLink = (int rowId) => Url.Page("Edit", new { id = rowId});
    Func<int, string> detailsLink = (int rowId) => Url.Page("Details", new { id = rowId});
}

<h2>Users</h2>

<p>
    <a asp-page="Create">
      <button class="btn btn-default" type="button">Create New</button>
    </a>
</p>

@(Html.Grid(Model.Users).Build(c =>
  {
    c.Add(m => m.Id).Titled("Id");
    c.Add(m => m.UserName).Titled("Username / Email");
    c.Add(m => m.EmailConfirmed).Titled("Email confirmed");
    c.Add(m => string.Join(", ", m.UserRoles.Select(x => x.Role.Name))).Titled("Roles");
    c.Add(m => m.TwoFactorEnabled).Titled("2FA enabled");

    c.Add(m =>
      $@"
      <div class='btn-group' role='group'>
          <button class='btn btn-default btn-sm' type='button' data-nav='{editLink(m.Id)}' onclick='gridNavButtonClick(this)'>
            Edit
          </button>
          <button class='btn btn-default btn-sm' type='button' data-nav='{detailsLink(m.Id)}' onclick='gridNavButtonClick(this)'>
            Details
          </button>
      </div>
      ").Titled("Actions").Encoded(false);
  }).Filterable().Sortable()
)

