@import '~bootstrap/dist/css/bootstrap.css';

main.container {
  margin: 15px auto;
}

ul.nav-login li {
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

select.custom-select.language {
  width: auto;
}
