@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
  <h1>Hello to AspNetBase!</h1>
  <p>The next value should be localized: <strong>@Localizer["This string should be localized"]</strong></p>
</div>
