<div id="app-base-scripts">
  <script src="~/lib/lib.bundle.min.js"></script>
  <script defer>
    (function() {
      [].forEach.call(document.getElementsByClassName('mvc-grid'), function (el) {
          new MvcGrid(el);
      });
    }());

    function gridNavButtonClick(e) {
      window.location.assign(e.getAttribute("data-nav"));
    }
  </script>
</div>
