@page
@model AspNetBase.Presentation.Server.Pages.ManageUsers.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>AppUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AppUser.UserName" class="control-label"></label>
                <input asp-for="AppUser.UserName" class="form-control" />
                <span asp-validation-for="AppUser.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppUser.NormalizedUserName" class="control-label"></label>
                <input asp-for="AppUser.NormalizedUserName" class="form-control" />
                <span asp-validation-for="AppUser.NormalizedUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppUser.Email" class="control-label"></label>
                <input asp-for="AppUser.Email" class="form-control" />
                <span asp-validation-for="AppUser.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppUser.NormalizedEmail" class="control-label"></label>
                <input asp-for="AppUser.NormalizedEmail" class="form-control" />
                <span asp-validation-for="AppUser.NormalizedEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="AppUser.EmailConfirmed" /> @Html.DisplayNameFor(model => model.AppUser.EmailConfirmed))
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="AppUser.PasswordHash" class="control-label"></label>
                <input asp-for="AppUser.PasswordHash" class="form-control" />
                <span asp-validation-for="AppUser.PasswordHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppUser.SecurityStamp" class="control-label"></label>
                <input asp-for="AppUser.SecurityStamp" class="form-control" />
                <span asp-validation-for="AppUser.SecurityStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppUser.ConcurrencyStamp" class="control-label"></label>
                <input asp-for="AppUser.ConcurrencyStamp" class="form-control" />
                <span asp-validation-for="AppUser.ConcurrencyStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppUser.PhoneNumber" class="control-label"></label>
                <input asp-for="AppUser.PhoneNumber" class="form-control" />
                <span asp-validation-for="AppUser.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="AppUser.PhoneNumberConfirmed" /> @Html.DisplayNameFor(model => model.AppUser.PhoneNumberConfirmed))
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="AppUser.TwoFactorEnabled" /> @Html.DisplayNameFor(model => model.AppUser.TwoFactorEnabled))
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="AppUser.LockoutEnd" class="control-label"></label>
                <input asp-for="AppUser.LockoutEnd" class="form-control" />
                <span asp-validation-for="AppUser.LockoutEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="AppUser.LockoutEnabled" /> @Html.DisplayNameFor(model => model.AppUser.LockoutEnabled))
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="AppUser.AccessFailedCount" class="control-label"></label>
                <input asp-for="AppUser.AccessFailedCount" class="form-control" />
                <span asp-validation-for="AppUser.AccessFailedCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
